/* body{
    background-color: black;
} */
.main-box{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 100%;
    height: 100vh;
    background-color: rgb(255, 255, 247);
    padding: 10px;
}

.inner-box{
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -4px;
    color: rgb(39, 39, 39);
    margin: 10px;
    display: grid;
}

.para{
    font-size: 15px;
    letter-spacing: -1px;
    font-weight: lighter;
    grid-column: 2;
    grid-row: 2;
    position: relative;
    top: 0px;
    right: 10px;
    text-align: left;
    width: 300px;
}

#red{
    background-color: rgb(250, 243, 221);
    padding: 30px;
}

#yellow{
    background-color: rgb(39, 39, 39);
    color: rgb(250, 243, 221);
}

#text{
    font-size: 200px;
    transform: rotate(90deg);
    color: rgb(250, 243, 221);
    width: 200px;
    height: 200px;
    font-weight: lighter;
}

#circle{
    height: 300px;
    width: 300px;
    margin-bottom: -250px;
    margin-left: 200px;
    border-radius: 20%;
    grid-column: 2;
    grid-row: 2;
}

.para::after{
    content: "";
    background-color: rgb(208, 0, 0);
    float: right;
    position: relative;
    bottom: -12px;
    width: 300px;
    height: 5px;
}