<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Response</title>
</head>
<body>
    <h1> <%= activity.name %> </h1>
    <h4> <%= activity.id %> </h4>
    <p> Latitude: <%= activity.latitude %> <br> Longitude: <%= activity.longitude %> </p>
</body>
</html>